name: Run benchmarks

on:
  pull_request_target:
    branches:
    - master
    - '!compathelper/**'
    paths-ignore:
      - 'README.md'
      - 'test/**'
      - 'docs/**'
      - 'examples/**'
permissions:
  pull-requests: write

jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - uses: MilesCranmer/AirspeedVelocity.jl@action-v1
        with:
          julia-version: '1'
